<div class="section hero is-fullheight is-dark">
  <div class="hero-body">
    <div class="container content">
      <div class="columns is-centered">
        <div class="column is-6-tablet is-5-desktop is-4-widescreen">
            <h1 class="title">Private</h1>
            <p class="subtitle">This is your private content</p>
            <div class="box">
                <p class="block">Welcome to your dashboard, {{username}}</p>
            </div>

        <p class="block"><a href="/logout" class="button is-link input">Logout?</a></p>
        </div>
      </div>
    </div>
  </div>
</div>