#searchBar {
    text-align: center;
    font-size: 1rem;
}

#searchBarField {
    font-size: 1rem;
    width: 20em;
    text-align: center;
    color: #2a3f94;
    background-color: #fbf0e5;
    margin-bottom: 10px;
}

body {
    background-color: #F5DABF;
}

nav {
    background-color: #f4c290;
    margin: 25px;
    padding: 10px;
    text-align: left;
}

header {
    margin-bottom: 20px;
}

footer>p:first {
    margin-top: 100px;
    /* color:#2a3f94; */
}

footer>p {
    margin-top: 0px;
    text-align: center;
    display: block;
    color: #880000;
    margin-right: 0px;
    margin-left: 0px;
}

footer>p:last-child {
    margin-bottom: 100px;
}

footer {
    clear: both;
}

.nav-ul {
    list-style: none;
    margin-left: 0;
    margin-right: 0;
}

nav ul li {
    margin-left: 0;
    margin-right: 0;
    display: inline;
}

#resultsList {
    list-style: none;
}

.material-icons {
    vertical-align: middle;
    font-size: 1rem;
}

li {
    font-size: 1rem;
}

#submit-search {
    height: 2rem;
    width: 5rem;
}

.hidden {
    display: none;
}

label {
    display: inline-block;
    margin-bottom: 5px;
}

p {
    margin-top: 50px;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    display: block;
    /* display:inline; */
}

p.not-found {
    margin-top: 10px;
    color: #fa0101;
}

ul,
li {
    margin-left: 20px;
    margin-right: 20px;
    /* display:inline; */
}

form {
    display: inline;
    position: absolute;
    right: 45px;
    top: 45px;
    /* float:right; */
}

#errContent {
    margin: 50px;
}

h1 {
    text-align: center;
}

img {
    /* position:absolute; */
    float: right;
    margin-right: 30px;
    margin-left: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-left: 30px;
    margin-right: 30px;
}