#searchBar {
    text-align: center;
    font-size: 1.2rem;
}

#searchBarField {
    font-size: 1.5rem;
    width: 30em;
    text-align: center;
    color: #2a3f94;
    background-color: #fbf0e5;
    margin-bottom: 10px;
}

body {
    background-color: #F5DABF;
}

nav {
    background-color: #f4c290;
    margin: 25px;
    padding: 10px;
    text-align: center;
}

header {
    margin-bottom: 100px;
}

footer>p {
    display: block;
    margin-top: 100px;
    /* color:#2a3f94; */
    color: #880000;
    text-align: center;
    margin-bottom: 100px;
    margin-right: 0px;
    margin-left: 0px;
}

.nav-ul {
    list-style: none;
}

.material-icons {
    vertical-align: middle;
    font-size: 1rem;
}

li {
    font-size: 1rem;
}

#submit-search {
    height: 2rem;
    width: 10rem;
}

.hidden {
    display: none;
}

label {
    display: inline-block;
    margin-bottom: 15px;
}

p {
    margin-top: 50px;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
}

h1 {
    text-align: center;
}