<h1>Character Finder</h1>
{{{form}}}

<p>
    This site allows you to search for marvel characters to read more about them. To get started, simply search for a
    marvel character through the above search bar.
</p>